.main-menu {
  width: 25em;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
}

.main-menu-line {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50px;
  border-bottom: 1px solid #ececec;
}

.sidebar {
  /*position: fixed;*/
  top: 20px;
}

.main-menu a, .main-menu p{
  padding: 0;
  margin-bottom: 3px;
  line-height: 1.3em;
  color: white;
  font-weight: 500;
  font-size: 0.85em;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

.sidebar-title {
  color: white;
  position: relative;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-decoration: none;
  text-transform: uppercase;
  word-wrap: normal;
  white-space: normal;
}

#sidebar-first {
  margin-bottom: 0px;
}

#sidebar-last {
  margin-top: 0px;
  margin-bottom: 25px;
}

.main-menu ul, .sidebar ul {
  padding: 0;
  list-style: none;
}

.sidebar-link, .sidebar-link:hover {
  cursor: pointer;
  margin-top: 2px;
  padding: 0;
  margin-bottom: 3px;
  line-height: 1.3em;
  color: white;
  font-weight: 500;
  font-size: 0.85em;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

.sidebar-link:focus {
  text-decoration: none;
  color: white;
}

.bolded-link, .bolded-link:hover {
  font-weight: 700;
  text-decoration: none;
}

#credit {
  font-size: 0.8em;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

#main-component {
  margin-top: 20px; 
}