body {
    background-color: black;
    color: white;
}

h1 {
    color: white;
    position: relative;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.02em;
    text-decoration: none;
    text-transform: uppercase;
    word-wrap: normal;
    white-space: normal;
    margin-top: 0px;
}