.code-block-header {
    height: 15px;
    background-color: #dedad6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.code-block {
    font-family: monospace;
    background-color: #141414;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
}

.code-tab {
    padding-left: 2em;
}